/* Contenedor del menú */
.bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

  /* Estilo de cada ítem del menú */
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

  /* Ícono activo */
.menu-item.active {
    color: #000;
}

.menu-item .icon-home::before {
    content: "🏠"; /* Icono de casa */
}

.menu-item .icon-user::before {
    content: "👤"; /* Icono de usuario */
}
