    .torneo-container {
        max-width: 400px;
        margin: 2rem auto;
        font-family: 'Segoe UI', sans-serif;
        background: #e3e0e0;
        border-radius: 16px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
        overflow: hidden;
    }
    
    .torneo-header {
        text-align: center;
        padding: 1.2rem;
        border-bottom: 2px solid #ddd;
        background-color: #b9b2b2;
        border-radius: 16px 16px 0 0;
    }
    
    .torneo-label {
        font-size: 1.4rem;
        font-weight: bold;
        margin: 0;
        color: #111;
    }
    
    .torneo-name {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0.4rem 0 0;
        color: #222;
    }
    
    .torneo-teams {
        font-size: 0.95rem;
        margin: 0.3rem 0;
        color: #444;
    }
    
    .torneo-status {
        font-size: 0.95rem;
        font-weight: bold;
        margin-top: 0.3rem;
    }
    
    .torneo-status.activo {
        color: green;
    }
    
    .torneo-status.inactivo {
        color: red;
    }
    
    .section {
        background-color: #f1f1f1;
        padding: 1.2rem;
        border-top: 1px solid #ccc;
    }
    
    .section h3 {
        font-size: 1.05rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0 0 0.8rem;
    }
    
    .btn.eliminatorias {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #444;
        color: rgb(253, 247, 247);
        border: none;
        width: 100%;
        padding: 0.7rem 1rem;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s ease;
    }
    
    .btn.eliminatorias:hover {
        background-color: #333;
    }
    
    .btn.eliminatorias::after {
        content: '>';
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .section.clickable {
        background-color: #f9f9f9;
        padding: 1rem;
        border-top: 1px solid #ccc;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        font-size: 1rem;
        transition: background 0.3s ease;
    }
    
    .section.clickable:hover {
        background-color: #1e1a1a;
    }


    

    .loading {
        text-align: center;
        padding: 2rem;
        font-size: 1.2rem;
    }
